@media only screen and (max-width: 600px){
    .row {
        width: 90%;
        text-align: center;
        padding: 0;
    }

    /* .col-md-6 img {
        width: 300px;
        height: auto;
    } */
    
    /* .col-md-6 p h4{
        width: 100%;
        text-align: center;
    } */
};